header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}



/* __________ CTA ___________________ */
.cta{
    margin-top: 2.5rem;
    gap: 1.2rem;
    display: flex;
    justify-content: center;
}



/* _____________  socials links _____________ */
.header__socials{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom:3rem;
}


.header__socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}




/* ____________________ me __________________ */

.me{
    background:linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    position: absolute;
   
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 10rem 10rem 0 0 ;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

}



/* ____________________ scroll down __________________ */

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}















/* media query for tablet */
@media screen and (max-width: 1024px) {
    header{
        height: 90vh;
    }
}






/* media query for small phones */
@media screen and (max-width:600px){
header{
    height: 100vh;
}

.header__socials, .scroll__down{
    display: none;
}

.cta{
    margin-top: 2.3rem;
    gap: 0.4rem;
    display: flex;
    justify-content: center;
}

}